.md-nav--secondary {
  border-left: 0.05rem solid #777 !important;
}

.md-nav__link--active {
  font-weight: bold !important;
  color: #ddd !important;
}

.md-tabs__item--active {
  font-weight: bold !important;
}

/* #__nav_1_label, #__nav_2_label, #__nav_3_label, #__nav_4_label, #__nav_5_label, #__nav_6_label{
    display: none !important;
} */

